// 見出し
.hdg-2 {
	font-size: 36px;
	line-height: 1.6em;
	margin-bottom: 40px;
	text-align: center;
	font-weight: 500;
	@include mq() {
		font-size: 24px;
		margin-bottom: 16px;
	}
}
.hdg-3 {
	font-size: 25px;
	line-height: 1.6em;
	margin-bottom: 20px;
	text-align: center;
	@include mq() {
		margin-bottom: 16px;
	}
}
.hdg-4 {
	font-size: 20px;
	line-height: 1.6em;
	margin-bottom: 15px;
}
// 段落
p {
	font-size: 16px;
	line-height: 1.6;
	color: #333;
}
// リスト
.list {
	padding-left: 15px;
	list-style: square;
	li {
		line-height: 1.6em;
		margin-bottom: 10px;
		&::marker {
			color: #d8d5d2;
		}
	}
}
// リンク
.link {
	cursor: pointer;
	text-decoration: underline;
	font-size: 14px;
}
// ボタン
.btn {
	@include button();
}
// テーブル
.table {
	width: 100%;
	border-collapse: collapse;
  border:1px solid #d8d5d2;
	margin-bottom: 40px;
	th {
		width: 25%;
		background-color: #e8eef2;
		text-align: center;
		padding: 18px 5px;
		border:1px solid #d8d5d2;
		vertical-align: middle;
		font-weight: 500;
		@include mq() {
			width: 35%;
		}
	}
	td {
		width: 75%;
		padding: 18px 10px;
		border:1px solid #d8d5d2;
		line-height: 1.6em;
		@include mq() {
			width: 65%;
		}
	}
}
// モーダル
.modal {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.4);
	z-index: 10;
	overflow-y: scroll;
	padding: 0 2vw;
	&__box {
		position: relative;
		width: 800px;
		background-color: #FFF;
		margin: 100px auto;
		padding: 80px;
		border-radius: 10px;
		filter: drop-shadow(3px 3px 13px rgba(0, 0, 0, 0.1));
		@include mq() {
			width: 100%;
			padding: 50px 10px;
			margin: 100px auto;
			border-radius: 5px;
		}
		&__close {
			position: absolute;
			top: 24px;
			right: 30px;
			cursor: pointer;
			@include mq() {
				top: 0;
				right: 0;
			}
			span {
				display: block;
				position: relative;
				width: 50px;
				height: 50px;
				&::before {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) rotate(45deg);
					width: 40px;
					height: 1px;
					background-color: #224258;
					@include mq() {
						width: 25px;
					}
				}
				&::after {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) rotate(-45deg);
					width: 40px;
					height: 1px;
					background-color: #224258;
					@include mq() {
						width: 25px;
					}
				}
			}
		}
		&__img {
			text-align: center;
			padding-top: 10px;
			img {
				max-width: 100%;
			}
		}
	}
}
input::-webkit-input-placeholder {
    padding-top: 0.2em;
}
.modal-btn {
	cursor: pointer;
}
.zoom-label {
	width: 100%;
	text-align: right;
	text-decoration: underline;
	margin-top: 10px;
	&__icon {
		display: inline-block;
		width: 16px;
		margin-right: 5px;
	}
}
// チェックボックス
.check-box {
	display: block;
	position: relative;
	padding-left: 28px;
	margin-right: 20px;
	margin-bottom: 16px;
	cursor: pointer;
	user-select: none;
	@include mq() {
		padding-left: 24px;
		margin-right: 14px;
		font-size: 14px;
	}
	input {
		display: none;
		&:checked + .check-box__mark {
			background-color: #224258;
			&::after {
				opacity: 1;
			}
		}
	}
	&__mark {
		position: absolute;
		top: 0;
		left: 0;
		height: 18px;
		width: 18px;
		border: solid 1px #224258;
		border-radius: 3px;
		&::after {
			content: "";
			position: absolute;
			left: 5px;
			top: 1px;
			width: 6px;
			height: 12px;
			border: solid #FFF;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
			opacity: 0;
			transition: all .5s;
		}
	}
}
// カラムレイアウト
.media-lyt {
	display: flex;
	justify-content: space-between;
	padding-bottom: 70px;
	@include mq() {
		display: block;
		padding: 0 3vw 50px;
	}
	&__img {
		width: 30%;
		@include mq() {
			width: 100%;
			margin-bottom: 30px;
		}
		img {
			width: 100%;
		}
	}
	&__txt {
		width: 65%;
		@include mq() {
			width: 100%;
		}
	}
}